* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'geometria';
    src: url('./fonts/geometria_light.otf');
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: 'geometria-extrabold';
    src: url('./fonts/geometria_extrabold.otf');
    font-weight: 800;
    font-style: bold;
}

html {
    font-family: 'geometria', 'Open Sans', sans-serif;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 877px;
    background: url(./img/Rectangle.png) center;
    margin-bottom: 60px;
}
.header__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 35px;
    margin-bottom: 25px;
}
.header__main-logo {
    display: flex;
    align-items: center;
}
.header__main-text {
    width: 195px;
    margin-left: 30px;
}
.header__main-number {
    width: 272px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header__main-number-number {
    font-size: 28px;
    height: 50px;
}
.header__main-button {
    width: 272px;
    height: 55px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2A94E2;
    border-radius: 5px;
    cursor: pointer;
}

.header__title {
    width: 286px;
    font-size: 50px;
    font-family: 'geometria-extrabold';
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 47px;
}
.header__description {
    max-width: 540px;
}
.header__description-description {
    margin-bottom: 47px;
    font-size: 22px;
}
.header__description-progress {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    
}
.header__description-card {
    display: flex;
    align-items: center;
}
.header__description-value {
    font-size: 80px;
    margin-right: 20px;
}
.header__description-text {
    margin-right: 50px;
}
.header__description-surprise {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.header__surprise-text {
    margin-left: 20px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2A94E2;
    border-radius: 5px;
    background-color: #2A94E2;
    color: #FFFFFF;
    cursor: pointer;
}
.header__description-button {
    width: 360px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}

.main__test {
    margin-bottom: 60px;
}
.main__test-title {
    text-align: center;
    margin-bottom: 42px;
    font-size: 35px;
    font-family: 'geometria-extrabold';
}
.main__test-title-under {
    font-size: 22px;
    font-family: 'geometria';
}
.main__test-test {
    border: 3px solid #F6F6F6;
    display: flex;
    padding: 0px 44px 0px 36px;
}
.main__test-questions {
    padding: 40px 0 18px 0;
}
.main__test-question {
    font-size: 22px;
    font-family: 'geometria-extrabold';
    margin-bottom: 30px;
}
.main__test-cards {
    display: flex;
}
.main__test-card {
    max-width: 334px;
    overflow: hidden;
    display: block;
    cursor: pointer;
}
.main__test-card:not(:last-child) {
    margin-right: 30px;
}
.main__test-text {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}
.stick-horisontal {
    height: 1px;
    border: 1.5px solid #F6F6F6;
    background-color: #F6F6F6;
    margin-bottom: 30px;
}
.main__test-progress {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main__test-score {
    font-size: 16px;
    padding-bottom: 7px;
}
.main__test-next {
    font-size: 16px;
    cursor: pointer;
    color: #2A94E2;
    display: flex;
    align-items: center;
    padding-bottom: 7px;
}
.main__test-next-arrow {
    text-align: start;
    margin-left: 15px;
}
.stick-vertical {
    width: 1px;
    border: 1.5px solid #F6F6F6;
    background-color: #F6F6F6;
    margin: 0 40px;
}
.main__test-list {
    padding: 40px 0 18px 0;
}
.main__test-item {
    margin-bottom: 30px;
}
.main__test-item {
    display: flex;
}
.main__test-item-arrow {
    margin-right: 25px;
}
.main__test-item-text {
    font-size: 16px;
    line-height: 26px;
}


.active-min-screen {
    display: none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
.active-max-screen {
    visibility: visible;
    opacity: 1;
    overflow: visible;
    z-index: 0;
}
@media screen and (max-width: 575.98px) {
    .container {
        margin: 0 10px;
    }
    .header__title {
        font-size: 25px;
    }
    .header__description-description {
        font-size: 14px;
    }
    .header__description-surprise {
        display: none;
    }
    .active-max-screen {
        display: none;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        z-index: -1;
    }
    .active-min-screen {
        display: flex;
        visibility: visible;
        opacity: 1;
        overflow: visible;
        z-index: 0;
    }
    .header__main-number {
        max-width: 45px;
    }
    .header__description-button {
        width: 300px;
    }
    .main__test-test {
        padding: 0px;
    }
    .main__test-card {
        max-width: 300px;
    }
    .main__test-test,
    .header__description-progress,
    .main__test-cards {
        flex-wrap: wrap;
    }
    .main__test-cards {
        display: flex;
        justify-content: center;
    }
    .main__test-card:not(:last-child) {
        margin-right: 0;
    }
    .main__test-progress {
        margin-left: 10px;
    }
}